streamlit>=1.23.0
matplotlib==3.10.6
altair==5.5.0
streamlit-option-menu==0.4.0
s3fs==2025.9.0
openpyxl==3.1.5
botocore>=1.39.7
boto3>=1.39.15
git+https://github.com/nestauk/asf_levies_model.git
git+https://github.com/nestauk/asf_lifetime_cost_model.git@12-create-draft-of-main-class
